[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "pal4_script_parser"]
	path = pal4_script_parser
	url = https://github.com/betesla/pal4_script.git
